body {
  margin: 0;
  color: #ebd8ff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;

  background: rgb(92, 211, 168);
  background: linear-gradient(
    355deg,
    rgba(92, 211, 168, 1) 0%,
    rgba(235, 216, 255, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
